@use "../../styles/Layouts/forms" as *;
@use "../../styles/Layouts/pages" as *;
.container {
  @extend .pageContainer;
  gap: 2rem;

  .formContainer {
    @extend .containerForm;
  }
  .errorField {
    @extend .errorMessage;
  }
}
