@use "../../styles/Layouts/pages" as *;
@use "../../styles/Layouts/components" as *;
.container {
  @extend .pageContainer;
  justify-content: flex-start;
  padding-top: 3rem;
  gap: 2rem;
}
.listProducts {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  gap: 8rem;
  flex-wrap: wrap;
}
.btnCreate {
  @extend .btnCreate;
}
