@use "../../styles/Layouts/forms" as *;
@use "../../styles/Layouts/pages" as *;
@use "../../styles/Layouts/components" as *;
.container {
  @extend .container;
  .formContainer {
    @extend .containerForm;
  }
  .errorField {
    @extend .errorMessage;
  }
  .successMessage {
    @extend .successMessage;
  }
  .deleteButton {
    @extend .deleteButton;
  }
  .submitButton {
    @extend .submitButton;
  }
}
