.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}
.imagePreview {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.inputField {
  padding: 0.5rem;
}
.errorMessage {
  color: rgba(255, 255, 255, 0.686);
  background-color: rgba(255, 0, 0, 0.717);
  font-size: 0.875rem;
  padding: 0.5rem;
  border-radius: 7px;
}
.successMessage {
  color: rgba(255, 255, 255, 0.686);
  background-color: rgba(32, 171, 1, 0.552);
  font-size: 0.875rem;
  padding: 0.5rem;
  border-radius: 7px;
}
