@use "../../styles/Layouts/pages" as *;
.container {
  @extend .pageContainer;
  gap: 2rem;

  .listCategories {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 1rem;
  }
}
