@use "../../styles/Layouts/card" as *;

.containerModal {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 1000;
  height: 50%;
  width: 50%;
  min-height: 600px;
  border-radius: 8px;
  .btnDelete {
    @extend .btnDelete;
  }
}
