@use "../../styles/Layouts/forms" as *;
@use "../../styles/Layouts/pages" as *;
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .formContainer {
    @extend .containerForm;
  }
  .errorField {
    @extend .errorMessage;
  }
  .successMessage {
    @extend .successMessage;
  }
}
