.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .inputField {
      width: 300px;
      padding: 8px;
      font-size: 16px;
      border: none;
      border-radius: 4px;
    }
    .errorMessage {
      background-color: rgba(255, 0, 0, 0.638);
      color: #ffffffa1;
      font-size: 14px;
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
